body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#111;
    color: white;
    font-family: Arial, sans-serif;
}


.large{
    font-size: 60px;
    text-align: center;
}
.space{
    margin: 20px;
}
.center{
    text-align: center;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    flex-direction: column;
    flex-basis: 50%;
}
.width{
    flex-basis: 80%;
}
.p{
    font-size: 18px;
}
.large_ish{
    font-size: xxx-large;
}
.hori{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    flex-direction: row;
}
.shrink{
    margin: 10px;
}
.left{
    text-align: left;
    align-self: flex-start;
}
.buttons{
    display: flex;
    margin-top: -5px;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
}

.buttons a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
    flex-direction: inherit;
    white-space: nowrap;
}

.buttons a:hover{
    background: #888;
}

.buttons_vertical a:hover{
    background: #888;
}