body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:#111;
    color: white;
    font-family: Arial, sans-serif;
}
ul{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 60px;
    width: 100%;
    align-self: center;
}
mspace{
    margin: 5px;
}
h4{
    margin-top: -5px;
    text-align: left;
    font-size: 15px;
    width: 1050px;
    align-self: center;
    align-content: center;
}

h5{
    margin-top: 110px;
    text-align: center;
    font-size: 15px;
    width: 1000px;
}

h6{
    text-align: center;
    font-size: 15px;
    width: 1050px;
    align-self: center;
    margin-top: -5px;
    margin-bottom: -5px;
}
note{
    display: flex;
    font-size: 10px;
    text-align: left;
    align-self: center;
    width: 200px;
}
p{
    text-align: left;
    font-size: 18px;
    color: #ccc;
    width:1000px;
    margin-top: 10px;
}
.note_two{
    display: flex;
    margin-top: -5px;
    text-align: left;
    font-size: 15px;
    width: 1050px;
    align-self: center;
    align-content: center;
}
.column_container{
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}
.column{
    display: flex;
    gap: 5px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.note_container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: left;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    align-items: center;
}

.buttons a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}

.buttons_vertical{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
}

.buttons_vertical a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}

.buttons a:hover{
    background: #888;
}

.buttons_vertical a:hover{
    background: #888;
}