html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    background: black;
    color: white;
}
body{
    flex-direction: inherit;
    display: flex;
    line-height: 2em;font-family: Arial, sans-serif;
    max-width: 100em;
}
code {
    font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 85%;
    margin: 0;
    hyphens: manual;
    color: lightgoldenrodyellow;
}
pre {
    margin: 1em 0;
    overflow: auto;
}
pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    max-width: 100em;
}

span.c1{
    display: flex;
    max-width: inherit;
    color: turquoise;

}
span.display{
    margin: 0;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    flex-direction: column;
    width: 90%;
}
.width{
    flex-basis: 80%;
}
.p{
    font-size: 18px;
    line-height: 2em
}

.hori{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    flex-direction: row;
}

.display.math{display: block; text-align: left; margin: 0.5rem 0; white-space: preserve-breaks; line-height: 2em; max-width: 100em}
ul{

    justify-content: inherit;
    align-items: inherit;
    margin: -1em 0 auto;
}
a{
    display: flex;
    margin-top: -5px;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
    white-space: nowrap;
    max-width: fit-content;
}

a:hover{
    background: #888;
}

.buttons_vertical a:hover{
    background: #888;
}